<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.email %></h1>
<p>
  Ticket <%= @ticket.title %> state was changed to <%= @ticket.state %>.
</p>

<p>
  To see ticket, just follow: <%= link_to 'this link', ticket_url(@ticket.id, host: 'http://localhost:3000') %>.
</p>
<p>Have a great day!</p>
</body>
</html>
