<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, <%= @user.email %></h1>
<p>
  You was mentioned in comment <%= @comment.ticket.title %>.
</p>

<p>
  To see ticket, just follow: <%= link_to 'this link', ticket_url(@comment.ticket_id, host: 'http://localhost:3000') %>.
</p>
<p>
  To see comment, just follow: <%= link_to 'this link', ticket_comment_url(@comment.ticket_id, @comment.id, host: "http://localhost:3000") %>.
</p>
<p>Have a great day!</p>
</body>
</html>
